*{
		margin: 0; 
		padding: o}

label, input, button{
		display: block;
		margin-left: 30px;
}

label{
		margin-top: 15px;
}

.entrada{
		width:300px;
		height: 25px;
		padding: 2px 5px;
		border: 1px solid #777;
		border-radius: 2px;
}

.btn{
		padding: 10px 20px;
		background: #36c;
		border-radius: 2px;
		font-size: .8em;
		color: @f5f5f5;
		margin-top: 20px;
}

/* wca.bl.ee */

#popup{
		position: fixed;
		width: 300px;
		height: 280px;
		background: #f5f5f5;
		border: 1px solid #cacbcd;
		box-shadow: 0 0 5px #9c9d9e;
		top: 50%;
		left: 50%;
		margin: -140px 0 0 -150px;
		display: none;
}
.close{
		float: right;
		margin: 10px 10px 0 0;
		cursor: pointer;
		color: #f00;
}

.close:hover{
	color: #f30;
	
}