@charset "UTF-8";

/* RESET DO HTML */
* {
	margin:0;
	padding:0;
	list-style: none;
}
body{
		width: 47em;
		margin: auto;
		
}
header{
		top:0;
		background-color: #000;
		text-align: center;
		width: 47em;
	
}

header img{
		padding: 0 0.9em;

}
nav {		width: 6em;
		float: left;
		padding-left: 1em;
		padding-top: 1em;
}
nav a {
	text-decoration: none;
	
}


article{
		float: left;
		width: 28em;
		padding-top:1em;


}

h1 {
		border-bottom:  medium solid #000;
		font-size: 1.5em;
		margin-bottom: 0;
}
h2 {
		text-align: right;
		font-size: 0.9em;
		margin-top: 0;
}
article  p:nth-child(3){
		font-size: 0.9em;
		font-style: italic;
		width: 15em;
		padding-bottom: 2em;
}

article img{
		float: left;
		padding-right: 1em;
}

aside {
		padding-left:2em;
		float:left;
		width: 8.5em;
}
aside h3 {
	text-align: right;
}
aside  h3+p{
		color:#f00;

}
aside a {
	padding-bottom: 3em;
	float: right;
	overflow: auto
}
footer{
		text-align: center;
		position: fixed;
		bottom:0;
		margin: auto;
		background-color: #000;
		color: #fff;
		width: 45em;		
}
